* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg, #6dca81 0%, #132e0c 100%);
  font-family: sans-serif;
}

.btn-container {
  background-color: #0c293a;
  height: 110px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 10px 20px -10px rgba(255, 255, 255, 0.75);
}

.btn {
  height: 75%;
  width: 85%;
  border-radius: 10px;
  font-family: inherit;
  font-size: 2rem;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: 2px solid #ccc;
  background: linear-gradient(70deg, #62a1c5 0%, #0c3264 100%);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover,
.btn:active {
  background: linear-gradient(70deg, #0c3264 0%, #62a1c5 100%);
}

.btn:active {
  transform: scale(0.96);
  border: none;
}
